In [1]:
import pyspark
from pyspark.sql import SparkSession

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
#create spark session
spark = SparkSession.builder\
.master('loacal[*]')\
.appName('ny_taxi')\
.getOrCreate()

In [ ]:
#read grren and yellow dataset into daatframe
df_green = spark.read.parquet('data/green/*/*')

In [ ]:
#to be able to run query on df we need to register it as a temporary table
df_green.registerTempTable('trip_gr')

In [ ]:
df_sql =spark.sql("""

SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('hour', pickup_datetime) AS revenue_hour, 
    
    SUM(total_amount) AS amount,
    COUNT(1) AS num_records
FROM
    trip_gr
GROUP BY
    1, 2

"""
)

In [ ]:
df_sql.show()

In [ ]:
#write the resulta to parquet
df_sql.write.repartition(14).parquet('data/reports/revenue/green')

In [ ]:
#use coalesce to reduce the number of partitions
df_sql.coalesce(|).write.parquet('data/reports',mode='overwrite')

In [ ]:
df_yellow = spark.read.parquet('data/yellow/*/*')

In [ ]:
df_yellow.registerTempTable('trip_yl')

In [ ]:
df_sql =spark.sql("""

SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('hour', pickup_datetime) AS revenue_hour, 
    
    SUM(total_amount) AS amount,
    COUNT(1) AS num_records
FROM
    trip_yl
GROUP BY
    1, 2

"""
)

In [ ]:
df_sql.write.repartition(14).parquet('data/reports/revenue/yellow')

In [ ]:
#join the two dataframe
df_rev_gr = spark.read.parquet('data/reports/revenue/green')
df_rev_yl =spark.read.parquet('data/reports/revenue/yellow')

In [ ]:
dfjoin = dfe_rev_gr.join(def_rev_yl,on=['revenue_zone','hour'],how='outer')

In [ ]:
dfjoin.write.parquet('data/reports/revenue/')